body {
	margin: 0;
	padding: 0;
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-bottom: 10px solid black;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h1 {
	font-size: 3.2em;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing:-2px
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 900;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.0em;
	font-weight: normal;
	color: #00bc5e;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
}

li {
	background-color: white;
	margin: 10px auto;
}

li:hover {
	/*background-color: #FFFF66;*/
}

dt {
	font-size: 14px;
	font-weight: 400;
}

dt:hover {
	/*background-color: #FFFF66;*/
}

dd {
	font-weight: 400;
}

.from {
	font-size: 18px;
	text-align: left;
	font-weight: 900;
}

.subject {

}

.maildate {
	font-size: 12px;
	float: right;
	color: #3399FF;
}

.mailbody {
	color: #C0C0C0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.column {
	width: 450px;
	height: 60%;
	overflow: auto;
}

.leftcol {
	float: left;
	color: #C0C0C0;
}

.rightcol {
	float: right;
	width: 470px;
	border: 10px solid black;
	padding: 0 10px;
}

.bottom {
	position:absolute;
	bottom: 0;
	border: 10px solid black;
	padding: 0 20px;
	width: 920px;
	/*min-height: 50px;*/
	height: 32%;
	overflow: auto;
	background:white;
}


/*
.bottom:before {
    content:'';
    position:relative;
    bottom: 2px;
    height: 20px;
    width: 930px;
    background:linear-gradient(top, white, transparent); /* standard CSS3
    background:-o-linear-gradient(top, white, transparent); /* Opera
    background:-moz-linear-gradient(top, white, rgba(255, 255, 255, 0)); /* Firefox
    background:-ms-linear-gradient(top, white, transparent); /* IE 10
    background:-webkit-linear-gradient(top, white, rgba(255, 255, 255, 0)); /* New Webkit
    background:-webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0))); /* Old Webkit
    z-index: 999;
}

.bottom:after {
	content:'';
	position:fixed;
	bottom: 3%;
	height: 20px;
	width: 930px;
	background: linear-gradient(bottom, white, transparent);
	background:-o-linear-gradient(bottom, white, transparent);
	background:-ms-linear-gradient(bottom, white, transparent);
	background:-moz-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
	background:-webkit-linear-gradient(bottom, white, transparent);
	background:-webkit-gradient(linear, left bottom, left top, from(white), to(rgba(255, 255, 255, 0)));
	z-index: 999;
}
*/

input[type="button"] {
	background: transparent;
	border:1px solid;
	border-color: #C0C0C0;
}

input[type="text"] {
    background: transparent;
    border: none;
    /*height: 3em;*/
    border-bottom: thin solid #C0C0C0;
   	font-weight: 900;
	font-size: 14px;
   	font-family: 'Open Sans';
}

.grey {
	color: #C0C0C0;
}

.grey a {
	color: #C0C0C0;
}

input:focus {
	background-color:transparent;
	outline: none;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Menu */

#menu {
	width: 150px;
	margin: 20px auto;
	padding: 0;
	background: clear;
	position: fixed;
	float: left;
	color: transparent;
}

#menu:hover {
	color: black;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu ri {
	float: right;
}

#menu a {
	display: block;
	float: left;
	height: 100%;
	margin: 0;
	padding: 0 30px 0 30px;
	//line-height: 56px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: normal;
	border: none;
	color: black;
}

#menu .current_page_item a {
	/*background: url(images/img03.jpg) repeat-x left top;*/
	color: #FF0000;
}

#menu a:hover {
	text-decoration: none;
	color: #FF0000;
}

/* Page */

#page {
	width: 980px;
	height: 100%;
	padding: 00 0 00 200;
	float: left;
}

/* Content */

#content {
	float: right;
	width: 600px;
	padding: 0 0;
}
